body {
    position: relative;
    background-image: url("Imagens/Background/textura.jpg");
    margin: 0;
    padding: 0;
}
html{
    position: relative;
    max-height: calc(100vh - 85px);
}
.conteiner{
    position: relative;
    min-height: calc(100vh - 85px);
}
.topo-cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    height: 80px;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
}
.conteudo{
    padding-bottom: 80px;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;  
    font-size: 14px; 
    min-height: max-content;
}
.textos_centrais{
    margin-left: 5em;
    margin-right: 5em;
    min-height: max-content;
}

.foto_Projetos{
    display: flex;
    height: 100;
    width: max-content;
}
.projeto_bot{
    max-width: max-content;
}
.menu_Semestres{
    text-align: center;
}
.containerfooter{
    display: flex;
    justify-content: center;
    min-height: 100;
    position: relative;
}
.footer{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-grow: 1;
    align-items: center;
    height: 80px;
    border-radius: 40px;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    position: absolute;
    border: 0;
    left: 0;
    right: 0;
}
#titulofooter{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    border-right: 1px solid black;
    max-width: max-content;
}
#conteudorodape{
   display: flex;
   flex-direction: column;
   padding-top: 0.8em;
   padding-left: 10px;
   width: 20em;
}