body {
    background-image: url("Imagens/Background/textura.jpg");

}
#Conteinerpage{
    position: relative;
    min-height: 98vh;
}
.Cabeçalho {
    display:flex;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
}

.textos_corpo{
    text-align: left;
    font-family: Lucida Typewriter, monospace;
    font-size: 1em; 
    min-height: max-content;
    padding-bottom: 5.74em;
}

.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: max-content;
    padding: 5px;
    align-items: center;
    font-size: 1.28em;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}